*.la
*.lo
*.pyc
*~
.deps
.libs

py-compile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-*
libtool
ltmain.sh
missing
compile
